fastapi==0.75.0
pickle-mixin==1.0.2
pandas==1.2.4
numpy==1.14.5
pydantic==1.9.0
uvicorn==0.17.6
scikit-learn==0.24.1
json5==0.9.5
xgboost==1.5.2
streamlit==1.8.1
requests==2.25.1
plotly==5.3.1
shap==0.39.0
matplotlib==3.3.2